.wrap {
  word-break: break-word;
}

a.toggle-expand {
  display: block;
}

.doc-detail pre {
  word-break: break-word;
  font-size: .75em;
}

.doc-detail h1.filename {
  font-weight: 100;
  font-size: 2rem;
}

.sticky-nav {
  position: sticky;
  top: 10px;
}

.header {
  background: #f7f7f7;
  border-bottom: 1px solid #eaeaea;
}

.results {
  padding-left: 0;
}

.results li {
  list-style: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.results code.strings {
  font-size: .75rem;
  color: #404040;
  background-color: #f9f9f9;
  margin-top: 10px;
  border-radius: 4px;
}

.results h3 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 100;
  word-wrap: break-word;
}

.results em {
  color: #ff5722;
}

.results p.path {
  font-size: 75%;
  margin-bottom: 0;
  color: #888;
  word-break: break-word;
}